main {
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-bottom: 1.5em;
}

.container {
    width: 75%;
    height: fit-content;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.container h1 {
    color: #333;
    text-align: center;
    font-size: 2.3em;
    font-weight: bold;
    margin-bottom: 30px;
}

.cardContainer {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2.5em;
}

.cardHeader {
    background-color: #0095f6;
    color: #fff;
    padding: 15px;
    border-radius: 8px 8px 0 0;
    font-size: 1em;
    font-weight: bold;
}

.cardBody {
    padding: 20px;
}

.cardBody p {
    font-size: 0.9em;
    color: #333;
    margin: 5px 0;
}

.cardBody h5 {
    font-size: 1.3em;
    color: #333;
    margin-top: 20px;
    margin-bottom: 15px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.table thead {
    background-color: #0095f6;
    color: #fff;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-child(even) {
    background-color: #eee;
}

.table tbody tr td {
    color: #333;
}


@media (max-width: 768px) {
    body {
        justify-content: center;
    }
    main {
        margin-top: 0 !important;
        margin-bottom: 5.3em;
    }
    .container {
        margin-top: 1em;
        width: 85%;
    }
    .container h1 {
        font-size: 1.5em;
        margin-bottom: 0;
    }
    .cardContainer {
        margin-bottom: 0;
        margin-top: 1.5em;
    }
}

@media (max-width: 480px) {
    .table th, .table td {
        padding: 5px;
        font-size: 0.9em;
    }
    .cardBody h5 {
        font-size: 1.1em;
    }
}
