.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    height: 100%;
}

.seccionesFunciones ul li:nth-child(3) a{
    font-weight: bold;
}

.bottomNavigation ul li:nth-child(3) span{
    font-weight: bold;
}

#product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 2em;
}

.product {
    width: 15.625em;
    margin: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s, transform 0.3s;
}

.product:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.product img:hover {
    transform: scale(1.03);
}

.product h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 10px 0 5px 2px;
    text-align: left;
}

.product p {
    font-size: 14px;
    margin: 5px 0 1em 2px;
    color: #777;
    text-align: left;
}

.product h4 {
    font-size: 14px;
    margin: 5px 0 5px 2px;
    color: #333;
    text-align: left; 
}

.product label {
    display: block;
    margin: 5px 0 5px 2px;
}

.selectTalla {
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.botonAdd {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0095f6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.botonAdd:hover {
    background-color: #0056b3;
}

.botonAdd:focus {
    outline: none;
}

.botonAdd:active {
    transform: translateY(1px);
}

.product form {
    margin-top: 1em;
    margin-block-end: 0;
    margin-bottom: 5px;
}

.buttonVer {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ccc; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    display: block; 
}

.buttonVer:hover {
    background-color: #4A4A4A;
}

.buttonVer:focus {
    outline: none;
}

.buttonVer:active {
    transform: translateY(1px);
}

.inputCantidad {
    padding: 8px 8px 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

#snackbar {
    visibility: hidden;
    width: fit-content;
    background-color: #0095f6; 
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: visibility 0.5s, opacity 0.5s ease-in-out;
    opacity: 0;
    margin-bottom: 2em;
}

#snackbar.show {
    visibility: visible;
    opacity: 1;
}

.navbarProducts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #C7C7C7;
    color: #333;
    font-family: Arial, sans-serif;
}

.sexDiv {
    display: flex;
    gap: 20px;
}

.sexDiv div {
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
}

.sexDiv .selected {
    font-weight: bold;
    border-bottom: 2px solid #0095f6;
}

.listaCategory ul {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.listaCategory ul li {
    cursor: pointer;
    font-size: 14px;
}

.listaCategory li:hover {
    color: #0095f6;
}

.listaCategory li.selected {
    color: #0095f6;
}

.containerBuscador {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 8px;
}

.containerBuscador input {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
    width: 200px;
}

.resultadosDiv {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 2px;
    display: none; 
}

.resultadosDiv div {
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.resultadosDiv div:hover {
    background-color: #f0f0f0;
}

.fa-search {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .navbarProducts {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    #product-container {
        margin-top: 0;
        margin-bottom: 1.5em;
    }
    main {
        margin-top: 0 !important;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sexDiv {
        margin-bottom: 10px;
    }
    .sexDiv div {
        font-size: 0.9em;
    }
    .listaCategory ul {
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .listaCategory ul li {
        font-size: 0.9em;
    }
    .product h3 {
        font-size: 1.1em;
    }
    .product h4 {
        font-size: 0.9em;
    }
    .product p {
        font-size: 0.9em;
    }
    .product label {
        font-size: 1em;
    }
    .selectTalla {
        font-size: 0.9em;
    }
    .inputCantidad {
        font-size: 0.8em;
    }
    .buttonVer {
        font-size: 1em;
    }
    .botonAdd {
        font-size: 1em;
    }
}


@media (max-width: 1250px) {
    .navbarProducts {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        gap: 10px;
    }

    .containerBuscador {
        margin-bottom: 10px;
    }

    .sexDiv {
        margin-top: 10px;
    }
}


