body {
    background-color: #fff;
    position: relative;
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-areas: 
        "sidebar main";
    min-height: 100vh;
    margin: 0;
}

main {
    grid-area: main;
    margin-top: 1.5em;
}

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sidebar {
    grid-area: sidebar;
    width: 280px;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #ddd;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: .5s;
    position: fixed;
}

.logo {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 10px;
    height: 5%;
    margin-top: 10%;
}

.logo a {
    text-decoration: none;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo a img {
    width: 55px;
    height: 55px;
    margin-left: 10px;
}

.seccionesFunciones {
    height: 70%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
    border-radius: 8px;
    transition: background-color 0.4s;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: flex;
    align-items: center;
    padding: 10px;
}

.sidebar ul li:hover {
    background-color: #f0f0f0;
}

.sidebar ul li a:hover {
    color: #000000;
}

.sidebar ul li img {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    margin-bottom: 3px;
    transition: transform 0.3s ease;
}

.sidebar ul li:hover img {
    transform: scale(1.083);
}

.sidebar p {
    color: #C7C7C7;
    padding: 15px;
}

.sidebar .dropdown {
    position: relative;
}

.sidebar .dropdown .submenu {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 92%;
    background-color: #fff;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    list-style: none;
    padding: 10px;
    margin-bottom: 3px;
    overflow: hidden;
}

.sidebar .submenu li a {
    font-size: 18px;
    padding: 10px;
    border-radius: 8px;
    color: #333;
    display: block;
    text-decoration: none;
    transition: background-color 0.4s;
}

.dropdown {
    cursor: pointer;
}

.sidebar .submenu a:hover {
    background-color: #f0f0f0;
    color: black;
}

.seccionesFunciones ul li:last-child a {
    position: relative;
}

.numCarrito {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.3em 0.6em;
    font-size: 0.6em;
    position: absolute;
    top: 42%;
    left: 9%;
}

.bottomNavigation {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ddd;
    z-index: 1000;
}

.bottomNavigation ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.bottomNavigation ul li {
    flex: 1;
    text-align: center;
}

.bottomNavigation ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    text-decoration: none;
    color: #333;
    font-size: 12px;
}

.bottomNavigation ul li img {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}

.carritoBottom a {
    position: relative;
}

#numCarritoBottom {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.3em 0.6em;
    position: absolute;
    top: 30%;
    left: 50%;
}

.bottomNavigation .dropdown {
    position: relative;
    cursor: pointer;
}

.bottomNavigation .submenu {
    display: none; 
    position: absolute;
    bottom: 100%; 
    right: 1%;
    margin: 2px;
    background-color: #fff;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    list-style: none;
    padding: 10px;
    z-index: 10; 
}

.bottomNavigation .submenu li a {
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 6px;
    color: #333;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s;
}

.bottomNavigation .submenu a:hover {
    background-color: #f0f0f0;
    color: #000;
}

.bottomNavigation .submenu {
    animation: fade 0.3s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
    body{
        display: flex;
    }
    .bottomNavigation {
        display: flex;
        flex-direction: column;
    }
    .bottomNavigation ul li img {
        width: 2.3em;
        height: 2.3em;
    }
    .bottomNavigation ul li span {
        font-size: 1.2em;
    }

    .bottomNavigation .dropdown .submenu li a{
        font-size: 0.9em;
        display: flex;
    }
    #numCarritoBottom {
        font-size: 1em;
    }
}
@media (max-width: 1250px) {
    .sidebar {
        width: 13.125em;
    }
    body {
        grid-template-columns: 15.625em 1fr;
    }
}